nav.navbar.navbar-inverse {
    border-radius: 0px;
}
.container-fluid {
    padding-left: 15%;
    padding-right: 15%;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #222;
}

